:root {
    --background-color: #fff;
    --line-color: #d9d9d9;
    --text-color: #111111;
    --section-background: #1E1823;
    --button-color: #FD9222;
}

.header {
    padding-top: 24px;
    padding-bottom: 32px;
    font-family: "Montserrat", sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 24px;
    margin-left: 120px;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--text-color);
    cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--button-color);
}

.nav-icon {
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    stroke: var(--text-color);
    fill: var(--background-color);
    margin-left: 18px;
}

.nav-icon:hover,
.nav-icon:focus {
    stroke: var(--button-color);
}

.hero {
    padding-bottom: 72px;
}

.hero-box {
    padding-top: 381px;
    font-family: "Montserrat", sans-serif;
    background-image: url(../img/choco-backgound.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding-bottom: 40px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.03em;
    color: var(--background-color);
    margin-left: 40px;
    margin-bottom: 32px;
}

.hero-btn {
    font-weight: 600;
    font-size: 14px;
    padding: 14px 40px;
    border-radius: 30px;
    background-color: transparent;
    color: var(--background-color);
    border: 1px solid var(--background-color);
    margin-left: 40px;
    margin-right: 14px;
    cursor: pointer;
}

.hero-btn-second {
    font-weight: 600;
    font-size: 14px;
    padding: 14px 40px;
    border-radius: 30px;
    background-color: transparent;
    color: var(--background-color);
    border: 1px solid var(--background-color);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    border: 1px solid var(--button-color);
    color: var(--button-color);
}

.hero-btn-second:hover,
.hero-btn-second:focus {
    border: 1px solid var(--button-color);
    color: var(--button-color);
}

.hero-wrap {
    display: flex;
    gap: 14px;
    align-items: center;
}

.hero-word {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: var(--background-color);
}

.hero-icon {
    width: 22px;
    height: 22px;
    fill: var(--button-color);
}

.hero-icon-wrap {
    border-radius: 100%;
    padding: 8px;
    width: 38px;
    height: 38px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-scrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    background-color: var(--section-background);
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    padding-bottom: 68px;
}

.info-list {
    display: flex;
    gap: 70px;
}

.info-item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 18px;
    padding-right: 18px;
}

.info-icon {
    width: 32px;
    height: 32px;
    fill: var(--button-color);
}

.info-wrap {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.info-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
    color: var(--background-color);
}

.info-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.taste {
    padding-top: 128px;
    padding-bottom: 128px;
    font-family: "Montserrat", sans-serif;
}

.taste-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 28px;
}

.taste-word {
    color: var(--button-color);
}

.taste-text {
    width: 486px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    gap: 19px;
    color: var(--background-color);
}

.taste-item {
    border-radius: 15px;
    background-color: var(--button-color);
    padding: 28px 36px 28px 28px;
    border: 1px solid var(--button-color);

}

.taste-item:nth-child(2) {
    border-radius: 15px;
    background-color: var(--background-color);
    padding: 28px 36px 28px 28px;
    border: 1px solid var(--button-color);
    color: var(--text-color);
}

.taste-item:nth-child(3) {
    border-radius: 15px;
    background-color: var(--section-background);
    padding: 28px 36px 28px 28px;
    border: 1px solid var(--section-background);
}

.taste-item:nth-child(4) {
    border-radius: 15px;
    background-color: var(--background-color);
    padding: 28px 36px 28px 28px;
    border: 1px solid var(--button-color);
    color: var(--text-color);
}

.taste-img {
    margin-bottom: 36px;
}

.taste-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
}