
















.footer {
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-background);

}

.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: var(--background-color);
}

.footer-word {
    color: var(--button-color);
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 58px;
}

.footer-link-word {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: var(--background-color);
}

.footer-link-list {
    margin-top: 14px;
}

.footer-list-item {
    color: var(--background-color);
    margin-bottom: 4px;
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--background-color);
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--button-color);
}

.footer-link-wrap {
    display: flex;
    align-items: flex-start;
    
}

.icon-footer {
    width: 24px;
    height: 24px;
    stroke: var(--background-color);
    margin-top: 10px;
}

.footer-logo-wrap {
    display: flex;
    margin-left: 63px;
    gap: 18px;
    width: 66px;
    justify-content: space-between;
}

.footer-box {
    padding-top: 24px;
}

.footer-box-list {
    display: flex;
    gap: 24px;
}

.footer-box-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--background-color);
}
.footer-box-link:hover,
.footer-box-link:focus{
    color: var(--button-color);
}