.footer {
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $section-background;



    &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 121%;
        letter-spacing: -0.02em;
        color: $background-color;
    }

    &__word {
        color: $button-color;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 58px;
    }

    &__link-word {
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        text-align: center;
        color: $background-color;
    }


    &__list-item {
        color: $background-color;
        margin-bottom: 4px;
    }

    &__tel {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-align: center;
        color: $background-color;

        &:hover,
        &:focus {
            color: $button-color;
        }
    }



    &__link-wrap {
        display: flex;
        align-items: flex-start;

    }

    &__footer {
        width: 24px;
        height: 24px;
        stroke: $background-color;
        margin-top: 10px;
    }

    &__logo-wrap {
        display: flex;
        margin-left: 63px;
        gap: 18px;
        justify-content: space-between;
    }

    &__icon {
        fill: $background-color;
        width: 24px;
        height: 24px;

        &:hover,
        &:focus {
            fill: $button-color;
        }
    }

    &__icon-twitter {
        stroke: $background-color;
        fill: $section-background;
        width: 24px;
        height: 24px;

        &:hover,
        &:focus {
            stroke: $button-color;
            fill: $section-background;

        }
    }

    &__link-icon {
        cursor: pointer;
    }

    &__box {
        padding-top: 24px;
    }

    &__box-list {
        display: flex;
        gap: 24px;
    }

    &__box-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: $background-color;

        &:hover,
        &:focus {
            color: $button-color;
        }
    }

}