.header {
    padding-top: 20px;
    padding-bottom: 14px;
    font-family: "Montserrat", sans-serif;
    position: relative;

    &__list {
        display: none;
    }

    &__icon {
        display: none;
    }
}

.js-close-menu {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:734px) {
    .js-close-menu {
        right: 50px;
    }
}

.menu-container {
    background-color: $section-background;
    position: fixed;
    width: 220px;
    height: 100%;
    right: 0;
    top: 0;
    padding-top: 136px;
    padding-left: 30px;
    padding-bottom: 20px;
    z-index: 999;
    transform: translateX(100%);
    transition: transfrom 250ms ease;
}

.js-open-menu {
    position: absolute;
    right: 5px;
    margin-right: 20px;
    background-color: transparent;
    top: 20px;
    border: none;
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.menu-toggle-icon {
    fill: $background-color;
}

.menu-container.is-open {
    transform: translateX(0);

}

/*.mobile__list {}*/

.mobile__item {
    margin-bottom: 24px;
}

.mobile__link {
    color: $background-color;

    &:hover,
    &:focus {
        color: $button-color;
    }
}

.mobile__wrap {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 18px;
}

.mobile__icon {
    width: 18px;
    height: 18px;
    fill: $background-color;


    &:hover,
    &:focus {
        stroke: $button-color;
    }
}



@media screen and (min-width:1166px) {

    .header {
        padding-top: 24px;
        padding-bottom: 32px;
        font-family: "Montserrat", sans-serif;


        &__navigation {
            display: flex;
            justify-content: space-between;
        }

        &__list {
            display: flex;
            gap: 24px;
            margin-left: 120px;
        }

        &__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 114%;
            letter-spacing: -0.02em;
            color: $text-color;
            cursor: pointer;
            transition: color 250ms ease;

            &:hover,
            &:focus {
                color: $button-color;
            }
        }


        &__icon {
            width: 24px;
            height: 24px;
            stroke-width: 1px;
            stroke: $text-color;
            fill: $background-color;
            margin-left: 18px;
            transition: stroke 250ms ease;
            display: inline-block;

            &:hover,
            &:focus {
                stroke: $button-color;
            }
        }

    }

    .menu-container {
        display: none;
    }

    .js-close-menu {
        display: none;
    }

}