






















/*.info {
    background-color: $section-background;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    padding-bottom: 68px;


    &__list {
        display: flex;
        gap: 70px;
    }

    &__item:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        margin-left: 18px;
        padding-right: 18px;
    }

    &__icon {
        width: 32px;
        height: 32px;
        fill: $button-color;
    }

    &__wrap {
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 22px;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 18px;
        color: $background-color;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
    }
}*/
