.taste {
    padding-bottom: 72px;
    font-family: "Montserrat", sans-serif;


    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $text-color;
        margin-bottom: 24px;
    }

    &__word {
        color: $button-color;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;
        max-width: 486px;
    }

    &__item {
        border-radius: 15px;
        background-color: $button-color;
        width: 350px;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $button-color;
        margin-bottom: 20px;
        color: $background-color;
        flex-direction: column;

    }

    &__item:nth-child(2) {
        border-radius: 15px;
        background-color: $background-color;
        border: 1px solid $button-color;
        color: $text-color;
    }

    &__item:nth-child(3) {
        border-radius: 15px;
        background-color: $section-background;
        border: 1px solid $section-background;
        color: $background-color;
    }

    &__item:nth-child(4) {
        border-radius: 15px;
        background-color: $background-color;
        border: 1px solid $button-color;
        color: $text-color;
    }

    &__img {
        margin-bottom: 25px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-left: -45px;
    }

}


@media screen and (min-width: 734px) {
    .taste {
        padding-bottom: 100px;


        &__title {
            font-size: 24px;
            line-height: 117%;
            letter-spacing: -0.03em;
            margin-bottom: 28px;
        }


        &__text {
            margin-bottom: 50px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }

        &__item {
            width: 336px;
        }

    }
}

@media screen and (min-width:1166px) {

    .taste {
        padding-top: 128px;


        &__list {
            flex-wrap: nowrap;
        }

        &__item {
            width: 336px;
            position: relative;
        }

        &__subtitle {
            margin-left: 0px;
        }


    }

    .product__actions {
        box-sizing: border-box;
        position: absolute;
        width: 270px;
        height: 79%;
        top: 0;
        left: 0;
        opacity: 0;
        padding: 23px 28px 33px 28px;
        background-color: $background-color;
        color: $text-color;
        font-size: 14px;
    }

    .taste__item:hover .product__actions {
        opacity: 1;
    }

    .product__actions-title {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .product__actions-text {
        font-weight: 400;
        font-size: 10px;
        line-height: 129%;
        letter-spacing: -0.02em;
        width: 214px;
        margin-top: 14px;
    }

    .product__actions-box {
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;
        padding: 6px 16px 6px 16px;
        color: $background-color;
        background-color: $button-color;
        display: inline-block;
        border-radius: 35px;
    }

    .product__actions-benefits {
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;
        padding: 6px 16px 6px 16px;
        color: $text-color;
        display: inline-block;
        border-radius: 35px;
        border: 1px solid $button-color;
    }
}